* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	background-color: beige;
	padding: 1rem;
	gap: 1rem;
	h1 {
		font-size: 2rem;
		text-align: center;
	}
	p {
		text-align: center;
	}
}



main {
	background-color: whitesmoke;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: 1fr 1fr;

	nav {
		display: flex;
		flex-direction: column;
		h2 {
			text-align: center;
		}
		section {
			.choices {
				display: flex;
				flex-direction: column;
				justify-items: center;
				gap: 0.5rem;
				>section {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					h3 {
						text-align: center;
						white-space: nowrap;
					}
					.buttons {
						display: flex;
						justify-content: center;
						gap: 0.5rem;
						button {
							min-width: fit-content;
							width: 6.5rem;
							padding: 0.5rem 1rem;
							background-color: white;
							border: 2px solid black;
						}
						button[active] {
							background-color: green;
						}
					}
				}
			}
		}
		background-color: aquamarine;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.menu {
		background-color:cadetblue;
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	
	aside {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		background-color: aqua;
	}
	
	.activeCat,
	.activeType {
		background-color: green;
	}
}
footer {
	background-color: aliceblue;
}

.Barn {
	background-color: darkmagenta;
}
.Vuxen {
	background-color: antiquewhite;
}
.Par {
	background-color: pink;
}
