* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



@mixin container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 0.5rem;
}
@mixin button {
	min-width: fit-content;
	width: 6.5rem;
	padding: 0.5rem 1rem;
	background-color: white;
	border: 2px solid black;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #F8F8F8;
}
#menu {
	margin: auto;
	height: 100%;
	max-width: 1200px;
	display: grid;
	grid-template-rows: max-content auto max-content;
	header, main, footer {
		background-color: #F8F8F8;
	}
	.menu {
		background-image: url(./images/food.png);
	}
}
header {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	h1 {
		font-size: 2rem;
		text-align: center;
	}
	p {
		text-align: center;
	}
}

@mixin border {
	border: 3px solid black;
	border-radius: 1rem;
}

main {
	height: 100%;
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: max-content auto;
	overflow: hidden;
	gap: 1rem;
	
	nav {
		@include border();
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		height: max-content;
		h2 {
			text-align: center;
		}
		section {
			.choices {
				@include container();
				> section {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					h3 {
						text-align: center;
						white-space: nowrap;
					}
					.buttons {
						display: flex;
						justify-content: center;
						gap: 0.5rem;
						button {
						@include button();
						}
						button[active] {
							background-color: green;
						}
					}
				}
			}
			.range {
				width: 100%;
				@include container();
				h3 {
					text-align: center;
				}
				label {
					@include container();
					gap: unset;
					text-align: center;
					input {
						width: 13rem;
					}
				}
			}
		}
		
	}
	.menu {
		@include border();
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 2;
		grid-row-end: 2;
		overflow: auto;
		padding: 1rem;
		@include container();
		height: 100%;
		ul {
			flex-wrap: wrap;
			display: flex;
			align-items: center;
			list-style: none;
			gap: 3rem;
			.product-card {
				width: fit-content;
				height: fit-content;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0.5rem;
				gap: 0.5rem;
				background-color: rgb(193, 212, 230);
				border-radius: 1rem;
				h1 {
					padding: 0;
					margin: 0;
				}
				img {
					width: 100px;
				}
				button {
					padding: 0.5rem 1rem;
					border: none;
					background-color: green;
					color: white;
				}
			}
			.product {
				gap: 0.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				justify-content: space-between;
				white-space: nowrap;
				font-size: large;
				margin-right: auto;
				button {
					padding: 0.5rem 1rem;
					border: none;
					background-color: green;
					color: white;
				}
			}
		}
	}
	aside {
		@include container();
		align-items: flex-start;
		height: 100%;
		display: grid;
		grid-template-rows: max-content auto max-content;
		@include border();
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		padding: 1rem;
		ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			list-style: none;
			gap: 0.5rem;
			overflow: hidden;
			.product {
				gap: 0.5rem;
				display: flex;
				align-items: center;
				white-space: nowrap;
				font-size: large;
				margin-right: auto;
				button {
					padding: 0.5rem 1rem;
					border: none;
					background-color: red;
					color: white;
				}
			}
		}
		.prisInfo {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			p {
				text-align: center;
			}
		}
	}
	.activeCat,
	.activeType {
		background-color: green;
	}
}
footer {
	display:  flex;
	justify-content: space-around;
	padding: 1rem;
	ul {
		list-style-type: none;
	}
}

.Barn {
	header {
	}
	nav {
		background-color: #F0E1A4!important;
	}
	.menu {
		background-image: url(./images/baloons.png)!important;
	}
}
.Vuxen {
	nav {
		background-color: #8DC6FE!important;
	}
	.menu {
		background-image: url(./images/blue.webp)!important;
		background-size:cover;
	}
}
.Par {
	nav {
		background-color: #FB87A1!important;
	}
	.menu {
		background-image: url(./images/hearts.jpg)!important;
	}
}
